@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Julius+Sans+One&family=Open+Sans&family=Raleway&family=Roboto&display=swap');


/* ----------------COLORS & FONTS */

a {
    color: rgba(255, 255, 255, 0.99);
}

body {
    font-family: "Open Sans", sans-serif;
}

/* ----------------HOVER.CSS */

a:hover {
    color: red;
    transition: ease-in-out 0.4s;
}

/* ----------------NAVBAR */

nav {
    font-family: 'Julius Sans One',
    sans-serif;
}

.nav-back {
    background-color: rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, .99);
    font-weight: 800;
}

.navbar-nav {
    text-align: right;
}

.book-now-nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
    padding: 5px;
    color: rgba(255, 255, 255, 0.99);
    background-color: transparent;
}

/* ----------------LANDING PAGE SECTION */


/* Background image used below found at https://www.pexels.com/photo/brick-brickwall-brickwork-cement-276514/  

   Image was edited using tools found on https://pinetools.com/c-images/  */

header.masthead {
    text-align: center;
    background-image: url("../images/brickwall_gray_dark30.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

header.masthead .intro-text {
    color: rgba(255, 255, 255, 0.99);
    padding-top: 250px;
    padding-bottom: 100px;
    font-family: 'Julius Sans One', sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1.5em;
    margin-bottom: 16px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5em;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 250px;
        padding-bottom: 200px;
    }

    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

.book-now-nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, .99);
}

.book-now {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 16px;
    color: rgba(255, 255, 255, .99);
}

/* .hvr-grow-shadow code (below) found at https://ianlunn.github.io/Hover/#effects */

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#landing {
    background-color: rgba(0,0,0,1);
}

#shopBlurb {
    background-color: transparent;
    color: rgba(255, 255, 255, .99);
}

/* ----------------ABOUT US SECTION */

#about {
    background-color: rgba(14, 45, 185, 0.74);
    padding-top: 60px;
}

#hours {
    background-color: red;
}

.hours-title {
    text-align: center;
}

#location {
    background-color: yellow;
    text-align: center;
}


/* ----------------SERVICES SECTION */

.bg-services {
    text-align: center;
    background-color: rgba(145, 158, 182, 1);
    padding-top: 60px;
}
.card {
    margin-bottom: 10px;
}


/* ----------------CONTACT SECTION */

.bg-contact {
    background-color: orange;
    padding-top: 75px;
}

#contact-form {
    background-color: gray;
}

.location-map {
    margin-bottom: 16px;
}

/* ----------------FOOTER */

footer {
    background-color: rgba(63, 63, 63, 0.99);
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(255, 255, 255, .99);
}

.book-now-footer {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.social-links{
    font-size: 1.6em;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-by {
    font-style: italic;
    font-size: .75em;
}